---
---

<section>
	<h1>Recent News</h1>

	<ul>
		{% for post in site.categories.news %}
			<li>
				{{ post.date | date: "%b %-d, %Y" }}
				<a href="{{ post.url | prepend: site.baseurl | escape }}">{{ post.title | escape }}</a>
			</li>
		{% endfor %}
	</ul>
</div>

<section>
	<h1>Conservancy Blog</h1>

	<ul>
		{% for post in site.categories.blog %}
			<li>
				{{ post.date | date: "%b %-d, %Y" }}
				<a href="{{ post.url | prepend: site.baseurl | escape }}">{{ post.title | escape }}</a>
			</li>
		{% endfor %}
	</ul>
</div>
