<header>
	<h1><a href="{{ site.baseurl | escape }}/">{{ site.title | escape }}</a></h1>

	<nav>
		{% for my_page in site.pages %}
			{% if my_page.title %}
				<a href="{{ my_page.url | prepend: site.baseurl | escape }}">{{ my_page.title | escape }}</a>
			{% endif %}
		{% endfor %}
	</nav>
</header>
