---
layout: default
---
<article class="hentry">

	<header>
		<h1 class="entry-title">{{ page.title | escape }}</h1>

		<time datetime="{{ page.date | date_to_xmlschema }}" class="published">{{ page.date | date: "%b %-d, %Y" }}</time>
		{% if page.author %} • <span class="author hcard"><span class="fn">{{ page.author | escape }}</span></span>{% endif %}
	</header>

	<div class="entry-content">
		{{ content }}
	</div>

</article>
